<div class="Layout NoWrap">
  <common-sidebar-nav></common-sidebar-nav>

  <div class="main-content-container">
    <general-totals-summary-list></general-totals-summary-list>
    <div class="home__charts__container">
      <bbp-common-totals-chart></bbp-common-totals-chart>
      <bbp-common-hitting-totals-chart></bbp-common-hitting-totals-chart>
      <bbp-common-pitching-totals-chart></bbp-common-pitching-totals-chart>
      <bbp-common-closer-totals-chart></bbp-common-closer-totals-chart>
    </div>
  </div>


</div>
