.PreDraftRosterTable {
  margin:0 2rem 0 2rem;
  font-size:80%;
  border:1px solid #0d3349;

  caption {
    letter-spacing: .4rem;
    background-color: #0d3349;
    color:#ffffff;
  }

  tbody {
    tr:nth-child(even) {
      background-color: #efefef;

    }
    td {
      color:#888888;
    }
    tr.draft-protected:nth-child(even) {
        background-color: #dfdfdf;

    }
    tr.draft-protected {

      td {
        color:#1C9618;
      }

    }

  }
}
