<div class="RosterDiamondContainer">
  <h2 class="RosterDiamondTitle">{{roster.name}}</h2>
  <div class="LeftFieldContainer PositionContainer">
    <ul>
      <li ng-repeat="leftField in leftFielders">{{leftField.name}}</li>
    </ul>
  </div>
  <div class="CenterFieldContainer PositionContainer">
    <ul>
      <li ng-repeat="centerField in centerFields">{{centerField.name}}</li>
    </ul>
  </div>
  <div class="RightFieldContainer PositionContainer">
    <ul>
      <li ng-repeat="rightField in rightFields">{{rightField.name}}</li>
    </ul>
  </div>
  <div class="ThreeBContainer PositionContainer">
    <ul>
      <li ng-repeat="threeB in threeBs">{{threeB.name}}</li>
    </ul>
  </div>
  <div class="SSContainer PositionContainer">
    <ul>
      <li ng-repeat="ss in sss">{{ss.name}}</li>
    </ul>
  </div>
  <div class="TwoBContainer PositionContainer">
    <ul>
      <li ng-repeat="twoB in twoBs">{{twoB.name}}</li>
    </ul>
  </div>
  <div class="OneBContainer PositionContainer">
    <ul>
      <li ng-repeat="oneB in oneBs">{{oneB.name}}</li>
    </ul>
  </div>
  <div class="StarterContainer PositionContainer">
    <ul>
      <li ng-repeat="starter in starters">{{starter.name}}</li>
    </ul>
  </div>
  <div class="CatcherContainer PositionContainer">
    <ul>
      <li ng-repeat="catcher in catchers">{{catcher.name}}</li>
    </ul>
  </div>
  <div class="DHContainer PositionContainer">
    <ul>
      <li ng-repeat="dh in dhs">{{dh.name}}</li>
    </ul>
  </div>
  <div class="RelieverContainer PositionContainer">
    <ul>
      <li ng-repeat="reliever in relievers">{{reliever.name}}</li>
    </ul>
  </div>
</div>
