<div data-id="draft-board-container">
  <!--<div class="postGridStyle" ng-grid="draftGridOptions"></div>-->

  <table class="draft-table">
    <thead>
    <tr>
      <th>
        rnd
      </th>
      <th>
        pk
      </th>
      <th>
        roster
      </th>
      <th>
        player
      </th>
      <th>
        pos
      </th>
      <th>
        team
      </th>
      <th>

      </th>

    </tr>
    </thead>
    <tbody>
    <tr ng-class="getDraftRowClass(pick)" class="DraftPickRow" ng-repeat="pick in draftPicks | orderBy:['pickNumber'] ">
      <td class="DraftPickCell DraftPickCell__Round">
        {{ pick.round }}
      </td>
      <td class="DraftPickCell DraftPickCell__PickNumber">
        <button class="SilentButton" ng-click="clearPick(pick)">{{ pick.pickNumber }}</button>
      </td>
      <td class="DraftPickCell DraftPickCell__Roster">
        {{pick.roster}}
        <!--<select  ng-change="updatePickRoster(pick)" ng-model="pick.roster">-->
        <!--<option value="bashers">bashers</option>-->
        <!--<option value="mashers">mashers</option>-->
        <!--<option value="rallycaps">rallycaps</option>-->
        <!--<option value="stallions">stallions</option>-->
        <!--</select>-->
      </td>
      <td class="DraftPickCell DraftPickCell__Name">{{ pick.name }}</td>
      <td class="DraftPickCell DraftPickCell__Pos">{{ pick.pos }}</td>
      <td class="DraftPickCell DraftPickCell__Team">{{ pick.team }}</td>
      <td>
        <button ng-click="editPick(pick)" ng-model="pick" ng-show="isDog()">edit</button>
        <button ng-click="deletePick(pick)" ng-model="pick" ng-show="isDog()">delete</button>
      </td>
    </tr>
    </tbody>

  </table>
</div>

